@import "/components/header/header.css";
@import "/templates/title-list-item/title-list-item.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C302E;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}