* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #2C302E;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem;
}

.label {
    font-size: 1.5rem;
    padding-top:1rem;
    padding-left: 3rem;
    margin: 0;
}

.main-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #474A48;
    width: 100%;
    align-items: center;
    padding: 0.3rem 0.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    height: 4rem;
}

.header {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo {
    margin-top: 7px;
    height: 2.5rem;
}

#main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

#main-nav ul li {
    cursor: pointer;
}

#main-nav a {
    font-size: 1rem;
    transition: opacity 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#main-nav a:hover {
    opacity: 75%;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    width: 100%;
}

#search-icon {
    position: absolute;
    padding-right: 10px;
    filter: brightness(0.8);
}

#search-bar {
    background-color: white;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    text-indent: 25px;
    font-size: large;
    outline: none;
    border: none;
    box-shadow: none;
    padding-left: 1rem;
    padding-right: 3rem;
}

#popular {
    position: relative;
    background-color: #2C302E;
    z-index: 2;
}

#popular::before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom,  transparent, #2C302E);
    z-index: 2;
}

.title-list {
    width: 100%;
    height: 100%;
    gap: 1rem;
}

#title-list-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%;
    overflow-x: hidden;
}

.title-list-item {
    width: 100%;
}

.title-list-item a {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1rem;
    cursor: pointer;
}

.item-thumbnail-image {
    width: 300px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
    box-sizing: border-box;
    display: block;

    border: 3px solid transparent;
    transition: border-color 0.2s ease-in-out;

}

#item-text {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.title-list-item:hover .item-thumbnail-image{
    border-color: #009857;
}

.title-list-item:hover #item-text{
    opacity: 75%;
}

.list-button {
    margin-bottom: 1.5rem;
    border-radius: 100%;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-color: #ffffff;
    color:#2C302E;
    transition: opacity 0.3s ease;
}

#left-list-button {
    margin-left: auto;
}

.list-button:hover {
    opacity: 75%;
}

.list-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    gap: 20px;
    padding: 20px;
    background-color: #474A48;
    border-radius: 10px;
}

.form-body{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-h1 {
    font-size: 50px;
    font-weight: lighter;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.form-field{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: none;
}

.form-input {
    height: 40px;
    padding-left: 30px;
    background-color: #D9D9D9;
    color: #2C302E;
}

.form-submit {
    height: 60px;
    width: 160px;
    background-color: #009857;
    color: white;
    font-size: x-large;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.form-submit:hover {
    opacity: 70%;
}

.form-message {
    text-align: center;
    width: 100%;
}

.form-link {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

button {
    padding: 0 0.5rem;
    border: 0;
    height: 2rem;
    border-radius: 0.5rem;
    color:#2C302E;
    background-color: #ffffff;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 70%;
}

.floating-section {
    display: grid;
    grid-template-areas: "stack";
    overflow: hidden;
    position: relative;
    height: 100%;
}

.floating-image {
    grid-area: stack;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}

.floating-content {
    grid-area: stack;
    z-index: 2;
}

.right-nav {
    gap: 1rem;
    display: flex;
    flex-grow: 1;
    max-width: 500px;
}

.right-nav #search-icon {
    height: 2.5rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.right-nav #search-icon:hover {
    opacity: 70%;
}

#homepage {
    padding: 0;
    padding-bottom: 3rem;
}

#recommended {
    position: sticky;
    top:0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#recommended-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:0.3rem;

    position: absolute;
    align-self: center;
    justify-self: flex-start;
    max-width: 40%;
    max-height: 80%;
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 1rem;
}

.recommended-info p {
    overflow-y: auto;
}

.recommended-title-info h1 {
    font-size: 5rem;
}

.recommended-buttons {
    gap: 0.5rem;
}

#watch-now, #more-info {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border: 0;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.3s ease;

}

#watch-now:hover, #more-info:hover {
    opacity: 75%;
}

#watch-now {
    background-color: #ffffff;
    color: #2C302E;
}

#more-info {
    background-color: #2C302E;
    color: #ffffff;
}

.get-started-form {
    display: flex;
    flex-direction: row;
}

.get-started-form .form-input {
    flex: 1;
}

.video_player_footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 50px;
    left:0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%; z-index: 25;
    justify-content: center;
}

.controles {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 50%;
    width: auto;
}

.btn {
    font-size: 90px;
    color: white;
    cursor: pointer;
    user-select: none;
    display: flex;
    background: none;
}

.player {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
}
.play {
    border-left: 70px solid white;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
}

.rewind {
    position: relative;
    border-right: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.rewind::after { content: "";
    position: absolute;
    left: -45px; top: -30px;
    border-right: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.forward { position: relative;
    border-left: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.forward::after { content: "";
    position: absolute;
    left: 5px; top: -30px;
    border-left: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.fullscreen {
    font-size: 42px;
    color: white;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 10px;
    top: 10px;
}

.close button {
    font-size: 42px;
    color: white;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.titulo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    user-select: none;
    font-size: 30px;
    z-index: 20;
    text-align: center;
}

.video-barra {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display:flex;
    align-items:center;
    gap:15px;
}

.barra-progreso {
    flex: 1;
    height: 2px;
    background:#2e7d6f;
    position: relative;
    padding: 2px 0;
}

#video-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#video-preview {
    object-fit: cover;
    aspect-ratio: 16/9;
    height: 100%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    font-size: 90px;
    color: white;
}

#details-page {
    height: 100%;
}

#details-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 30px;
    gap: 30px;
    height: 100%;
    overflow-y: auto;
}

.details-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#details-container p {
    text-align: justify;
}

#seasons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.episode-button {
    -webkit-appearance: none;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #D9D9D9;
    cursor: pointer;
}

.season-button {
    -webkit-appearance: none;
    font-size: large;
    text-align: left;
    border: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

.season-list, .season-container, #episode-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.episode-list {
    padding-bottom: 20px;
}

.punto-rojo {
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
}

.tiempo {
    color: white;
    font-size: 14px;
    min-width: 70px;
    text-align: right;
    user-select: none;
}

.header-page {
    padding-top: 3.5rem;
}

#title-grid-message-query {
    padding-top: 1rem;
    padding-left: 1rem;
}

#title-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0.2rem 1rem;
    justify-content: center;
}

.audio-menu{
    position:absolute;
    bottom:60px;
    right:20px;
    background:#111;
    padding:10px 15px;
    border-radius:8px;
    color:white;
    display:none;
}

.audio-menu input{
    width:120px;
}

.footer-buttons{
    display:flex;
    justify-content:center;
    gap:40px;
}

.footer-buttons botton {

    cursor:pointer;
    pointer-events:auto;
}

.subs-menu{
    position:absolute;
    bottom:60px;
    left:50%;
    transform:translateX(-50%);
    background:#111;
    padding:10px 15px;
    border-radius:8px;
    color:white;
    display:none;
}

.subs-menu div{
    cursor:pointer;
    padding:5px 0;
}

.subtitulosFalsos{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    background: rgba(0,0,0,0.7);
    padding: 6px 12px;
    border-radius: 5px;
    display: none;
    z-index: 1100;
}

#user-panel {
    position: fixed;
    height: 300px;
    width: 300px;
    top: 4rem;
    right: 0;
    background-color: #2C302E;
    border-radius: 25px;
    border-style: solid;
    border-width: 7px;
    border-color: #009857;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-picture {
    border-radius: 100%;
}

.right-nav .profile-picture {
    width: 2.5rem;
    height: 2.5rem;
    transition: opacity 0.3s ease;
}

.right-nav .profile-picture:hover{
    opacity: 75%;
}

#user-panel .profile-picture {
    height: 5rem;
    width: 5rem;
}

#edit-button, #logout-button {
    width: 50%;
    background-color: #009857;
    color: white;
    cursor: pointer;
}

#user-panel .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.cancel-button {
    width: 230px;
    height: 60px;
    border-radius: 6px;
    font-size: x-large;
    background-color: #ff2c2c;
    color: white;
}

.edit-body .profile-picture {
    width: 200px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.edit-body .profile-picture:hover {
    opacity: 70%;
}

.edit-body .form-submit {
    width: 230px;
}

#form-image {
    display: none;
}
