<nav class="container">
    <section  id="left-nav">
        <ul class="container" id="nav-bar">
            <li class="hoverable bouncy"><a routerLink="/"><img id="logo" src="logo.png"></a></li>
            <li class="hoverable bouncy"><a routerLink="/titles" [queryParams]="{type: 0, showing: 'Series'}">Series</a></li>
            <li class="hoverable bouncy"><a routerLink="/titles" [queryParams]="{type: 1, showing: 'Movies'}">Movies</a></li>
            <li class="hoverable bouncy"><a routerLink="/titles" [queryParams]="{recent: true, showing: 'Recent'}">Recently Added</a></li>
        </ul>
    </section>

    <section class="container" id="right-nav">
        <article id="search-bar" #searchBar>
            <input id="search-text" type="text" placeholder="Search..." #searchInput (keydown.enter)="search(searchInput.value)">
            <i class="bi bi-search hoverable bouncy" id="search-icon" #searchIcon (click)="search(searchInput.value)"></i>
        </article>
        <img (click)="showUserPanel()" class="hoverable bouncy" id="profile-pic" src="user_picture.jpg">
    </section>
    @if(userPanelVisible) {
        <app-user-panel (closePanel)="hideUserPanel()" id="user.panel"></app-user-panel>
    }
</nav>

