#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 550px;
    gap: 20px;
}

#login-h1 {
    font-size: 50px;
    font-weight: lighter;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-field{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: none;
}

.login-input {
    height: 40px;
    padding-left: 30px;
    background-color: #D9D9D9;
    color: #2C302E;
}

.login-submit {
    height: 60px;
    width: 100%;
    background-color: #009857;
    color: white;
    font-size: x-large;
    cursor: pointer;
}

.login-submit:hover {
    background-color: color-mix(in srgb, #009857 80%, black 20%);
    color: color-mix(in srgb, white 70%, black 30%);
}

