<div class="main-header">
    <div class="container header">
        <nav id="main-nav" class="container">
            <ul>
                <li><a href="./index.html"><img class="logo" src="/imgs/logo.png"></a></li>
                <li><a href="./title-grid.html?type=series">Series</a></li>
                <li><a href="./title-grid.html?type=movie">Movies</a></li>
                <li><a href="./title-grid.html?recentlyAdded=true">Recently Added</a></li>
            </ul>
        </nav>

        <nav class="container right-nav">
            <div class="search-bar-container">
                <input id="search-bar" type="text" placeholder="Search...">
                <img id="search-icon" src="/imgs/search.png">
            </div>
            <div class="container profile-picture"></div>
            <div class="user-panel">
                <label id="user-name-label">{{User Name}}</label>
                <img alt="Error :(" src="/imgs/user_picture.jpg" class="container profile-picture">
                <button class="logout-button">Log Out</button>
                <button class="edit-button">Edit profile</button>
            </div>
        </nav>
    </div>
</div>