<!DOCTYPE html>
<html lang="es">
<body>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="video_player_body.css">
    <div class="player">
        <div class="controles">
            <div class="btn rewind"></div>
            <div class="btn play"></div>
            <div class="btn forward"></div>
            <div class="fullscreen">⤡</div>
            <div class="close">✖</div>
            <div class="titulo">[Title]</div>
        </div>

        <div class="video-barra">
            <div class="barra-progreso">
                <div class="punto-rojo"></div>
            </div>
            <div class="tiempo">00:00:00</div>
        </div>
    </div>
</body>
</html>