body {
    margin: 0;
    background: #e0e0e0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles {
    display: flex;
    align-items: center;
    gap: 200px;
}

.btn {
    width: 0;
    height: 0;
    cursor: pointer;
}

.player {
    background: #000000;
    padding: 200px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.play {
    border-left: 70px solid white;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
}

.rewind {
    position: relative;
    border-right: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.rewind::after { content: "";
    position: absolute;
    left: -45px; top: -30px;
    border-right: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.forward { position: relative;
    border-left: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.forward::after { content: "";
    position: absolute;
    left: 5px; top: -30px;
    border-left: 42px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.fullscreen {
    font-size: 42px;
    color: white;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 10px;
    top: 10px;
}

.close {
    font-size: 42px;
    color: white;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.titulo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    user-select: none;
    font-size: 30px;
}

.video-barra {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display:flex;
    align-items:center;
    gap:15px;
}

.barra-progreso {
    flex: 1;
    height: 2px;
    background:#2e7d6f; #
    position: relative;
}

.punto-rojo {
    width: 14px;
    height: 14px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
}

.tiempo {
    color: white;
    font-size: 14px;
    min-width: 70px;
    text-align: right;
    user-select: none;
}





