article {
    height: 170px;
    width: 300px;
}

a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap:0;
}

p {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

img {
    border-radius: 0.75rem;
    height: 100%;
    width: 100%;
}
