main {
    padding-top: 3.5rem;
}

#label {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom:0.5rem;
    padding-left: 3rem;
    margin: 0;
}

button {
    background: transparent;
    color: #ffffff;
    border: 0;
    font-size: 3rem;
}

#popular-section {
    position: relative;
    background-color: #2C302E;
    z-index: 2;
    width: 100%;
}

#popular-section::before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom,  transparent, #2C302E);
    z-index: 2;
}

#popular-items {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: hidden;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
}

#title-list {
  gap: 1rem;
  width:100%;
}

#left-button {
  position: relative;
  left: 1rem;
}

#right-button {
  position: relative;
  right: 1rem;
}

#featured {
    display: grid;
    grid-template-areas: "stack";
    overflow: hidden;
    position: sticky;
    top: 3.5rem;
    width: 100%;
    height: 91vh;
    z-index: 1;
}

#featured-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;

    z-index: 2;
    position: absolute;
    align-self: center;
    justify-self: flex-start;
    max-width: 40%;
    max-height: 50%;
    margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 1rem;
}

#featured-info p {
    overflow-y: auto;
}

#featured-thumbnail {
    grid-area: stack;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}

#featured-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#watch-now {
    display: flex;
    align-items: center;
}

#more-info {
    display: flex;
    align-items: center;
    background-color: #2C302E;
    color: #ffffff;
}
