<div class="container title-list">
    <div class="title-list-item-placeholder" 
        xlu-include-file="/templates/title-list-item/title-list-item.html"
        data-image="/imgs/eii.jpg"
        data-title="EII: La pelicula"
        ></div>
    <div class="title-list-item-placeholder" xlu-include-file="/templates/title-list-item/title-list-item.html"></div>
    <div class="title-list-item-placeholder" xlu-include-file="/templates/title-list-item/title-list-item.html"></div>
    <div class="title-list-item-placeholder" xlu-include-file="/templates/title-list-item/title-list-item.html"></div>
</div>
