main {
    padding: 3.7rem 0 0 0.5rem;
    height: 100vh;
}

aside {
    width: 30vw;
    height: 100%;
    padding-right: 0.5rem;
}
#aside-head {
    padding-top: 0.75rem;
    gap: 0.5rem;
    align-items: center;
}

#back {
    font-size: x-large;
}

h1 {
    font-size: x-large;
    font-weight: lighter;
}

h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: lighter;
    padding-left: 1rem;
    width: 100%;
    z-index: 2;
}

#play-button {
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 10rem;

    border-radius: 100%;
    width:10rem;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.7);
}

#video-display {
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.top-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    transparent 100%
  );
  z-index: 1;
  pointer-events: none;
}

video {
    object-fit: cover;
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
}
