/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #2C302E;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
}

.hoverable {
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.hoverable:hover {
    opacity: 70%;
}